<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Add Player</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>Add Player</h2>
    <form action='/add_player' method='POST' id='submitform'>
    First name:<br>
    <input type="text" name="first_name"><br><br>
    Last name:<br>
    <input type="text" name="last_name"><br><br>
		Handicap:<br>
		<input type="text" name="hdcp"><br><br>
		<!-- In skins?:
    <select name="in_skins">
      <option value="True">Yes</option>
      <option value="False">No</option>
    </select><br><br> -->
		<table>
			<tr>
				<th>Course</th>
				<th>Tee Selection</th>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/National_SC_4112019.pdf" target="_blank">The National - Ridge/Bluff</a>
				</td>
				<td>
					<select name="tee1">
						<option value="One">One (6,955 yards)</option>
						<option value="Two">Two (6,544 yards)</option>
						<option value="Tournament">Tournament (6,329 yards)</option>
						<option value="Three">Three (6,094 yards)</option>
						<option value="Four">Four (5,759 yards)</option>
						<option value="Four/Five">Four/Five (5,522 yards)</option>
						<option value="Five">Five (5,316 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/National_SC_4112019.pdf" target="_blank">The National - Ridge/Cove</a>
				</td>
				<td>
					<select name="tee1">
						<option value="One">One (6,987 yards)</option>
						<option value="Two">Two (6,533 yards)</option>
						<option value="Tournament">Tournament (6,354 yards)</option>
						<option value="Three">Three (6,072 yards)</option>
						<option value="Four">Four (5,760 yards)</option>
						<option value="Four/Five">Four/Five (5,425 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/National_SC_4112019.pdf" target="_blank">The National - Bluff/Ridge</a>
				</td>
				<td>
					<select name="tee1">
						<option value="One">One (6,955 yards)</option>
						<option value="Two">Two (6,544 yards)</option>
						<option value="Tournament">Tournament (6,329 yards)</option>
						<option value="Three">Three (6,094 yards)</option>
						<option value="Four">Four (5,759 yards)</option>
						<option value="Four/Five">Four/Five (5,522 yards)</option>
						<option value="Five">Five (5,316 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/National_SC_4112019.pdf" target="_blank">The National - Bluff/Cove</a>
				</td>
				<td>
					<select name="tee1">
						<option value="One">One (7,034 yards)</option>
						<option value="Two">Two (6,593 yards)</option>
						<option value="Tournament">Tournament (6,395 yards)</option>
						<option value="Three">Three (6,138 yards)</option>
						<option value="Four">Four (5,841 yards)</option>
						<option value="Four/Five">Four/Five (5,621 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/National_SC_4112019.pdf" target="_blank">The National - Cove/Bluff</a>
				</td>
				<td>
					<select name="tee1">
						<option value="One">One (7,034 yards)</option>
						<option value="Two">Two (6,593 yards)</option>
						<option value="Tournament">Tournament (6,395 yards)</option>
						<option value="Three">Three (6,138 yards)</option>
						<option value="Four">Four (5,841 yards)</option>
						<option value="Four/Five">Four/Five (5,621 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/National_SC_4112019.pdf" target="_blank">The National - Cove/Ridge</a>
				</td>
				<td>
					<select name="tee1">
						<option value="One">One (6,987 yards)</option>
						<option value="Two">Two (6,533 yards)</option>
						<option value="Tournament">Tournament (6,354 yards)</option>
						<option value="Three">Three (6,072 yards)</option>
						<option value="Four">Four (5,760 yards)</option>
						<option value="Four/Five">Four/Five (5,425 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/OconeeSC-2020-Proof.pdf" target="_blank">The Oconee</a>
				</td>
				<td>
					<select name="tee2">
			      <option value="One">One (7,158 yards)</option>
			      <option value="Two">Two (6,805 yards)</option>
						<option value="Tournament">Tournament (6,511 yards)</option>
						<option value="Three">Three (6,333 yards)</option>
						<option value="Three/Four">Three/Four (5,862 yards)</option>
						<option value="Four">Four (5,702)</option>
						<option value="Four/Five">Four/Five (5,358 yards)</option>
    			</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/GreatWaterSC2020.pdf" target="_blank">Great Waters</a>
				</td>
				<td>
					<select name="tee3">
						<option value="Golden Bear">Golden Bear (7,436 yards)</option>
						<option value="One">One (6,836 yards)</option>
						<option value="One/Two">One/Two (6,548 yards)</option>
						<option value="Two">Two (6,299 yards)</option>
						<option value="Two/Three">Two/Three (6,032 yards)</option>
						<option value="Three">Three (5,794 yards)</option>
						<option value="Three/Four">Three/Four (5,485 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/landingsc2018.pdf" target="_blank">The Landing</a>
				</td>
				<td>
					<select name="tee4">
						<option value="One">One (6,991 yards)</option>
						<option value="Two">Two (6,375 yards)</option>
						<option value="Tournament">Tournament (6,124 yards)</option>
						<option value="Three">Three (5,968 yards)</option>
						<option value="Three/Four">Three/Four (5,680 yards)</option>
						<option value="Four">Four (5,435 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/landingsc2018.pdf" target="_blank">The Landing Replay</a>
				</td>
				<td>
					<select name="tee5">
						<option value="One">One (6,991 yards)</option>
						<option value="Two">Two (6,375 yards)</option>
						<option value="Tournament">Tournament (6,124 yards)</option>
						<option value="Three">Three (5,968 yards)</option>
						<option value="Three/Four">Three/Four (5,680 yards)</option>
						<option value="Four">Four (5,435 yards)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://s3.us-east-2.amazonaws.com/reynoldsdotcomassets/resources/golf-course/GreatWaterSC2020.pdf" target="_blank">Great Waters Replay</a>
				</td>
				<td>
					<select name="tee6">
						<option value="Golden Bear">Golden Bear (7,436 yards)</option>
						<option value="One">One (6,836 yards)</option>
						<option value="One/Two">One/Two (6,548 yards)</option>
						<option value="Two">Two (6,299 yards)</option>
						<option value="Two/Three">Two/Three (6,032 yards)</option>
						<option value="Three">Three (5,794 yards)</option>
						<option value="Three/Four">Three/Four (5,485 yards)</option>
					</select>
				</td>
			</tr>
		</table>
		<br>
    <input type='submit' value="Submit"/>
    </form>
		<h4>{{msg|safe}}</h4>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
  </body>
</html>
