<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f5261dffe0bab135e9dbafff65e38e6d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f5261dffe0bab135e9dbafff65e38e6d" ></div>
        
</body>
<script>    
    
            var map_f5261dffe0bab135e9dbafff65e38e6d = L.map(
                "map_f5261dffe0bab135e9dbafff65e38e6d",
                {
                    center: [40.0, -98.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_491c42bef62164876f6fbf0415399247 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
            var marker_a026dd30ff0b2ab7f3206859f63009cb = L.marker(
                [33.45535, -83.2414],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
            var icon_d960b9ca81d9d0c714e00788fe83336f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "asterisk", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a026dd30ff0b2ab7f3206859f63009cb.setIcon(icon_d960b9ca81d9d0c714e00788fe83336f);
        
    
        var popup_794d08fab93ff5ed7f8c2502c33f5d6e = L.popup({"maxWidth": 300});

        
            var html_35f18f80b902b4ec83e0feee38518b79 = $(`<div id="html_35f18f80b902b4ec83e0feee38518b79" style="width: 100.0%; height: 100.0%;">2021 - Greensboro, GA - Stuart King</div>`)[0];
            popup_794d08fab93ff5ed7f8c2502c33f5d6e.setContent(html_35f18f80b902b4ec83e0feee38518b79);
        

        marker_a026dd30ff0b2ab7f3206859f63009cb.bindPopup(popup_794d08fab93ff5ed7f8c2502c33f5d6e)
        ;

        
    
    
            var marker_140362b80b89971e5deaa82b1557e8f3 = L.marker(
                [28.554899, -82.387863],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_d6835b6335ccb918945c8552a9043fdb = L.popup({"maxWidth": 300});

        
            var html_2d097e6fb1d25ec43491e6ac9cf89a0e = $(`<div id="html_2d097e6fb1d25ec43491e6ac9cf89a0e" style="width: 100.0%; height: 100.0%;">2020 - Brooksville, FL - Josh Duckett</div>`)[0];
            popup_d6835b6335ccb918945c8552a9043fdb.setContent(html_2d097e6fb1d25ec43491e6ac9cf89a0e);
        

        marker_140362b80b89971e5deaa82b1557e8f3.bindPopup(popup_d6835b6335ccb918945c8552a9043fdb)
        ;

        
    
    
            var marker_ce78382cb9a62e0a549fb93f2aa3f12f = L.marker(
                [33.494171, -111.926048],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_36f7f52e81081e44139818f4713a5ccc = L.popup({"maxWidth": 300});

        
            var html_860e8e6bb782c128dadf3d97b7db19f2 = $(`<div id="html_860e8e6bb782c128dadf3d97b7db19f2" style="width: 100.0%; height: 100.0%;">2018 & 2019 - Scottsdale, AZ - Alex King</div>`)[0];
            popup_36f7f52e81081e44139818f4713a5ccc.setContent(html_860e8e6bb782c128dadf3d97b7db19f2);
        

        marker_ce78382cb9a62e0a549fb93f2aa3f12f.bindPopup(popup_36f7f52e81081e44139818f4713a5ccc)
        ;

        
    
    
            var marker_0e17218579be08e0a2199b07198838a5 = L.marker(
                [36.805531, -114.06719],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_1e55388388f8094b29e321eeaeda4d7d = L.popup({"maxWidth": 300});

        
            var html_a475dbd5b2568db66efec8b61f6db670 = $(`<div id="html_a475dbd5b2568db66efec8b61f6db670" style="width: 100.0%; height: 100.0%;">2017 - Mesquite, NV - Alex King</div>`)[0];
            popup_1e55388388f8094b29e321eeaeda4d7d.setContent(html_a475dbd5b2568db66efec8b61f6db670);
        

        marker_0e17218579be08e0a2199b07198838a5.bindPopup(popup_1e55388388f8094b29e321eeaeda4d7d)
        ;

        
    
    
            var marker_9b95e8ddfc0134484f92e23a81b274c8 = L.marker(
                [41.878114, -87.629798],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_1031ef97b64e7657cd11f40aa16dfb74 = L.popup({"maxWidth": 300});

        
            var html_0fa7adcfabf8ba8a73e18043c444fb9d = $(`<div id="html_0fa7adcfabf8ba8a73e18043c444fb9d" style="width: 100.0%; height: 100.0%;">2016 - Chicago, IL - Jerry King</div>`)[0];
            popup_1031ef97b64e7657cd11f40aa16dfb74.setContent(html_0fa7adcfabf8ba8a73e18043c444fb9d);
        

        marker_9b95e8ddfc0134484f92e23a81b274c8.bindPopup(popup_1031ef97b64e7657cd11f40aa16dfb74)
        ;

        
    
    
            var marker_968c782869888d95807a7698280b8a80 = L.marker(
                [34.502587, -84.951054],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_d5e8bc24e0208bb366b02df0d5f0cd45 = L.popup({"maxWidth": 300});

        
            var html_2ab05bee2c1b61b83a1c54999391a275 = $(`<div id="html_2ab05bee2c1b61b83a1c54999391a275" style="width: 100.0%; height: 100.0%;">2015 - Calhoun, GA - Stuart King</div>`)[0];
            popup_d5e8bc24e0208bb366b02df0d5f0cd45.setContent(html_2ab05bee2c1b61b83a1c54999391a275);
        

        marker_968c782869888d95807a7698280b8a80.bindPopup(popup_d5e8bc24e0208bb366b02df0d5f0cd45)
        ;

        
    
    
            var marker_88643e202c1359ef704626834e3ae230 = L.marker(
                [42.331427, -83.045754],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_8dbba0ee984a3392411e3b84a6858444 = L.popup({"maxWidth": 300});

        
            var html_c2f325f6680c7583a7c89c63cbf3c063 = $(`<div id="html_c2f325f6680c7583a7c89c63cbf3c063" style="width: 100.0%; height: 100.0%;">2014 - Detroit, MI - Reggie Sherrill</div>`)[0];
            popup_8dbba0ee984a3392411e3b84a6858444.setContent(html_c2f325f6680c7583a7c89c63cbf3c063);
        

        marker_88643e202c1359ef704626834e3ae230.bindPopup(popup_8dbba0ee984a3392411e3b84a6858444)
        ;

        
    
    
            var marker_3328b80734b5cc5fd082ba5cae78a306 = L.marker(
                [39.739236, -104.990251],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_c7e21cd7be76e4bf5c6447ae625b054a = L.popup({"maxWidth": 300});

        
            var html_7a40a28580cef46514a633a1e6e9ce47 = $(`<div id="html_7a40a28580cef46514a633a1e6e9ce47" style="width: 100.0%; height: 100.0%;">2013 - Denver, CO - Stuart King</div>`)[0];
            popup_c7e21cd7be76e4bf5c6447ae625b054a.setContent(html_7a40a28580cef46514a633a1e6e9ce47);
        

        marker_3328b80734b5cc5fd082ba5cae78a306.bindPopup(popup_c7e21cd7be76e4bf5c6447ae625b054a)
        ;

        
    
    
            var marker_d0a0f90c72128680c349499f60283a1e = L.marker(
                [47.677683, -116.780466],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_ae243824a004b6440912ead83d982694 = L.popup({"maxWidth": 300});

        
            var html_b3ac00296c72dff3c61bda32ea6bda59 = $(`<div id="html_b3ac00296c72dff3c61bda32ea6bda59" style="width: 100.0%; height: 100.0%;">2012 - Coeur d'Alene, ID - Jerry King</div>`)[0];
            popup_ae243824a004b6440912ead83d982694.setContent(html_b3ac00296c72dff3c61bda32ea6bda59);
        

        marker_d0a0f90c72128680c349499f60283a1e.bindPopup(popup_ae243824a004b6440912ead83d982694)
        ;

        
    
    
            var marker_7ccf2a4e8bc0575ea433046e130a805b = L.marker(
                [37.096528, -113.568416],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_22b6f67e0dad47f495a43d510992c4dd = L.popup({"maxWidth": 300});

        
            var html_f0885109d3e61c0cdc29af3b90ada102 = $(`<div id="html_f0885109d3e61c0cdc29af3b90ada102" style="width: 100.0%; height: 100.0%;">2011 - St. George, UT - Reggie Sherrill</div>`)[0];
            popup_22b6f67e0dad47f495a43d510992c4dd.setContent(html_f0885109d3e61c0cdc29af3b90ada102);
        

        marker_7ccf2a4e8bc0575ea433046e130a805b.bindPopup(popup_22b6f67e0dad47f495a43d510992c4dd)
        ;

        
    
    
            var marker_5606aaec5ee9000c6f94488249e3ab71 = L.marker(
                [38.291859, -122.458036],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_9828d8731450b864c4161b346f429f1e = L.popup({"maxWidth": 300});

        
            var html_b15d813ceaf910d0d028c720bf8fd900 = $(`<div id="html_b15d813ceaf910d0d028c720bf8fd900" style="width: 100.0%; height: 100.0%;">2010 - Northern California - Alex King</div>`)[0];
            popup_9828d8731450b864c4161b346f429f1e.setContent(html_b15d813ceaf910d0d028c720bf8fd900);
        

        marker_5606aaec5ee9000c6f94488249e3ab71.bindPopup(popup_9828d8731450b864c4161b346f429f1e)
        ;

        
    
    
            var marker_e37da8440086d881c7fb2d41505b32a0 = L.marker(
                [39.237685, -120.02658],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_6808e7655a17813d7f1e42bacdf53b04 = L.popup({"maxWidth": 300});

        
            var html_d50220537c5e66445864511abe05eeb7 = $(`<div id="html_d50220537c5e66445864511abe05eeb7" style="width: 100.0%; height: 100.0%;">2009 - Lake Tahoe, CA - Alex King</div>`)[0];
            popup_6808e7655a17813d7f1e42bacdf53b04.setContent(html_d50220537c5e66445864511abe05eeb7);
        

        marker_e37da8440086d881c7fb2d41505b32a0.bindPopup(popup_6808e7655a17813d7f1e42bacdf53b04)
        ;

        
    
    
            var marker_6359d529e16fbd96ca9f3b5fa3623445 = L.marker(
                [47.606209, -122.332071],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_2d62a089820958a6b0fe978c1a570e54 = L.popup({"maxWidth": 300});

        
            var html_0bfe2dec1f75cbd6e400acac88cd7dd8 = $(`<div id="html_0bfe2dec1f75cbd6e400acac88cd7dd8" style="width: 100.0%; height: 100.0%;">2008 - Seattle, WA - Alex King</div>`)[0];
            popup_2d62a089820958a6b0fe978c1a570e54.setContent(html_0bfe2dec1f75cbd6e400acac88cd7dd8);
        

        marker_6359d529e16fbd96ca9f3b5fa3623445.bindPopup(popup_2d62a089820958a6b0fe978c1a570e54)
        ;

        
    
    
            var marker_9c5ad88021adc2ee4fee1add0133d721 = L.marker(
                [35.960638, -83.920739],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_0cacb586bcf3ffa3f9ede0e2a94d063b = L.popup({"maxWidth": 300});

        
            var html_58919f8035b29e8b05ddabde506fe364 = $(`<div id="html_58919f8035b29e8b05ddabde506fe364" style="width: 100.0%; height: 100.0%;">2007 - Knoxville, TN - Stuart King</div>`)[0];
            popup_0cacb586bcf3ffa3f9ede0e2a94d063b.setContent(html_58919f8035b29e8b05ddabde506fe364);
        

        marker_9c5ad88021adc2ee4fee1add0133d721.bindPopup(popup_0cacb586bcf3ffa3f9ede0e2a94d063b)
        ;

        
    
    
            var marker_fc29681ae513c2a62cbcbfbb507e2346 = L.marker(
                [33.520661, -86.80249],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_7ade2a8ade90cd32d442c0159248df2c = L.popup({"maxWidth": 300});

        
            var html_6df0bc36673d8f920380acf4d9dffa8e = $(`<div id="html_6df0bc36673d8f920380acf4d9dffa8e" style="width: 100.0%; height: 100.0%;">2006 - RTJ, Alabama - Gary Olson</div>`)[0];
            popup_7ade2a8ade90cd32d442c0159248df2c.setContent(html_6df0bc36673d8f920380acf4d9dffa8e);
        

        marker_fc29681ae513c2a62cbcbfbb507e2346.bindPopup(popup_7ade2a8ade90cd32d442c0159248df2c)
        ;

        
    
    
            var marker_1ea9ac8e2be85871419c28c714492d2e = L.marker(
                [32.366805, -86.299969],
                {}
            ).addTo(map_f5261dffe0bab135e9dbafff65e38e6d);
        
    
        var popup_93e1a2dc3c6887d30f5a41cc746ce3ea = L.popup({"maxWidth": 300});

        
            var html_ca3778eb2152620aad38f2c4988198e2 = $(`<div id="html_ca3778eb2152620aad38f2c4988198e2" style="width: 100.0%; height: 100.0%;">2005 - RTJ, Alabama - Stuart King</div>`)[0];
            popup_93e1a2dc3c6887d30f5a41cc746ce3ea.setContent(html_ca3778eb2152620aad38f2c4988198e2);
        

        marker_1ea9ac8e2be85871419c28c714492d2e.bindPopup(popup_93e1a2dc3c6887d30f5a41cc746ce3ea)
        ;

        
    
</script>