<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Skins</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>Skins</h2>
    <form action='/skins' method='POST' id='submitform'>
      Course:<br>
      <select name="skins_course">
				<option selected value="None" readonly="readonly">-- select course --</option>
				<!-- <option value='The National - Ridge/Bluff'>The National - Ridge/Bluff</option> -->
				<!-- <option value='The National - Ridge/Cove'>The National - Ridge/Cove</option> -->
				<!-- <option value='The National - Bluff/Ridge'>The National - Bluff/Ridge</option> -->
				<!-- <option value='The National - Bluff/Cove'>The National - Bluff/Cove</option> -->
				<!-- <option value='The National - Cove/Bluff'>The National - Cove/Bluff</option> -->
				<option value='The National - Cove/Ridge'>The National - Cove/Ridge</option>
				<option value='The Oconee'>The Oconee</option>
				<option value='Great Waters'>Great Waters</option>
				<option value='The Landing'>The Landing</option>
				<option value='The Landing'>The Landing Replay</option>
				<option value='Great Waters'>Great Waters Replay</option>
      </select>
      <br><br>
      <input type='submit' value="Submit"/>
    </form>
		<!-- <h4>{{course|safe}}</h4>
    <p>{{skins_df|safe}}</p>
		<p>{{scorecard_df|safe}}</p> -->
		<h4>{{msg|safe}}</h4>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
  </body>
</html>
